/* Style Definitions */
body {
    background-color: #1E1A53;
    color: white;
    font-size: 32pt;
    text-align: center;
}

#main-container {
    min-width: 1024px;
}

/* the first of the three main DIVs */
#divHeader {
    margin-top: 12px;
    text-align: center;
    width: 100%;
    /*padding: 2px;*/
}

#divMenu {
    min-width: 1024px;
}

/* the second of the three main DIVs */
#divContent {
/*    max-width: 1024px;*/
    min-width: 1024px;
    text-align: center;
    align: center;
}

/* the third of the three main DIVs */
#divFooter {
    margin: 15px 5px 5px 5px;
}

#pageTitle {
    color: darkgreen;
    font-size: 32pt;
    margin: auto;
    margin-bottom: 20px;
}

#divSubtitle {
    color: #FFFFCC;
    font-size: 18pt;
    margin: auto;
    margin-bottom: 20px;
}

#homeTopTable, #homeMidTable {
	width: 100%;
	max-width: 1024px;
} 
 
.menuLine {
    width: 98%;
    align: center;
    size: 2px;
    color: white;
    padding: 0;
}

.menuLineTop {
    margin-top: 5px;
    margin-bottom: -14px;
}

.menuLineBottom {
    margin-top: -4px;
    margin-bottom: 15px;
}

.wccTitle {
    font-size: 48pt;
    font-family: stencil;
}

.wccMenuItem {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

.wccMenuItemFirst {
    margin-left: 2px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

.wccMenuItemLast {
    margin-left: 20px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

/* style used on all links */
.wccLink {
    color: white;
    /*text-decoration: underline;*/
}

.wccGameLink {
    color: white;
    /*text-decoration: none;*/
    font-size: 12pt;
}

.wccMenuLink {
    color: white;
    text-decoration: none;
    font-size: 12pt;
}

.wccExternalLink {
    color: white;
    text-decoration: underline;
    font-size: 32pt;
    font-family: stencil;
}

.left {
    text-align: left;
}

.floatLeft {
    float: left;
    text-align: left;
}
.floatRight {
    float: right;
    text-align: left;
}

.unorderedList {
    margin-bottom: -2px;
    margin-top: -2px;
}

#footerLeft {
    float: left;
    text-align: center;
}
#footerRight {
    float: right;
    text-align: center;
}

.footerLabel {
    color: darkgreen;
    font-size: 18pt;
}
.footerValue {
    color: white;
    font-size: 18pt;
}

.siteTitle {
    margin-top: 15px;
    margin-bottom: 25px;

    font-family: "Palatino";
    font-style: italic;
    font-size: 36pt;
    color: black;
    text-align: center;
}

#swccMap {
/*    display: inline-block;*/
/*    float: right;*/
/*    margin-top: -193px;*/
/*    margin-bottom: -150px;*/
/*    border-style: dotted;
    border-color: red;
    border-size: 1px;*/
/*    position: fixed;
    left: 800px;
    top: 35px;
*/
    height: 153px;
    width: 300px;
}

img.external {
    display: inline-block;
    width: 9px;
    height: 9px;
}

/*    font-family: "Arial"; */
/*    font-family: "Helvetica"; */
/*    font-family: "Times New Roman";*/

/* the 'home' page loads devContent with the following two DIVs */
#divWelcome {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    padding: 5px;
    margin: 5px 5px 25px 5px;
}

#divComingSoon {
    border-style: solid;
    border-color: green;
    border-width: 1px;
    padding: 5px;
    margin: 5px 5px 25px 5px;
}

/* these two styles are used for positioning within divWelcome */
.welcomeLeft {
    padding: 2px;
    width: 100%;
}

.welcomeRight {
    text-align: right;
    vertical-align: top;
    padding: 2px;
    width: 100px;
}

/* styles the info text below the map image */
.mapInfo {
    font-size: 9pt;
    display: inline-block;
    margin-top: 1px;
    margin-right: 13px;
}

/* primary layout mechanism - two columns */
.colLeft {
    text-align: left;
    vertical-align: top;
    padding: 2px;
    min-width: 160px;
    max-width: 160px;
}

.colRight {
    text-align: left;
    vertical-align: top;
    padding: 2px;
    width: 90%;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.colSoon {
    text-align: left;
    vertical-align: top;
    padding: 20px;
    width: 50%;
}

.sectionHeading {
    font-size: 18pt;
    color: blue;
    font-weight: bold;
    background-color: #CCFFCC;
    /*background-color: #FFCCFF;*/
    text-align: center;
    min-width: 790px;
    margin-top: -25px;
    margin-bottom: 2px;
}


/* styles the section headers within the menu */
h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

#contentFrame {
    border-style: none;
    height: 800px;
    width: 100%;
}

#games {
    height: 700px;
    width: 800px;
}

#clubcam {
    height: 526px;
    width: 700px;
}

.bold {
    font-weight: bold;
}

/* text colors */
.black {
    color: black;
}

.blue {
    color: blue;
}

.green {
    color: #006600;
}

.lightGreen {
    color: #00B050;
}

.red {
    color: red;
}

.purple {
    color: #6633CC;
}

.winter {
    color: firebrick;
}
.clubChampionship {
    color: coral;
}
.waukeshaMemorial {
    color: gold;
}
.action {
    color: maroon;
}
.speed {
    color: darkgreen;
}
.spring {
    color: maroon;
}
.earlySummer {
    color: navy;
}
.summer {
    color: indigo;
}
.earlyFall {
    color: violet;
}
.fall {
    color: firebrick;
}
.lateFall {
    color: coral;
}
.earlyWinter {
    color: chocolate;
}
.closed {
    color: red;
}


.underline {
    text-decoration: underline;
}

.author {
    font-size: 8pt;
}

/* background colors */
.backgroundWhite {
    background-color: white;
}

table.borders {
    /*border-style: solid;*/
    /*border-color: black;*/
    /*border-width: 1px;*/
    width: 100%;
}

table.borders th, table.borders td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0;
}

table.waukMemorial {
	align: center;
	margin-left: 102px;
    width: 80%;
}

table.waukMemorial th, table.waukMemorial td {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    text-align: center;
}

table.champs {
	align: center;
    width: 100%;
}
table.champs th, table.champs td {
    text-align: left;
}

table.wccPast {
	/* align: center; */
	margin-left: 140px;
    width: 80%;
}
table.wccPast th, table.wccPast td {
    text-align: left;
}

table.wccPast td.year {
    font-size: 16pt;
    text-align: left;
}

#divSchedule {
    margin: auto;
    max-width: 900px;
    min-width: 900px;
    text-align: center;
    padding: 15px;
}

#eaglesPhoto {
    max-height: 294px;
    min-height: 294px;
    max-width: 605px;
    min-width: 605px;    
}

#gmap {
    max-height: 325px;
    min-height: 325px;
    max-width: 430px;
    min-width: 430px;    
}

.caption {
    color: white;
    font-size: 11pt;
    margin-top: 3px;
}

.borders {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
