/* Style Definitions */
table.main {
  width: 100%;
}

#swccLogo {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 25px;
	height: 267;
	width: 208;
}

#swccMap {
/*	display: inline-block;*/
/*	float: right;*/
/*	margin-top: -193px;*/
/*	margin-bottom: -150px;*/
/*	border-style: dotted;
	border-color: red;
	border-size: 1px;*/
/*	position: fixed;
	left: 800px;
	top: 35px;
*/
	height: 153px;
	width: 300px;
}

img.external {
	display: inline-block;
	width: 9px;
	height: 9px;
}

body {
/*	font-family: "Arial"; */
/*	font-family: "Helvetica"; */
	font-family: "Times New Roman";
	font-size: 11pt;
	color: black;
}

#main-container {
	min-width: 1024px;
}

/* the first of the three main DIVs */
#divMenu {
	margin-top: -22px;
	padding: 2px;
	font-size: 11pt;
}

/* the second of the three main DIVs */
#divContent {
}

/* the third of the three main DIVs */
#divFooter {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	padding: 5px;
	margin: 5px 5px 5px 5px;
}

/* the 'home' page loads devContent with the following two DIVs */
#divWelcome {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	padding: 5px;
	margin: 5px 5px 25px 5px;
}

#divComingSoon {
	border-style: solid;
	border-color: green;
	border-width: 1px;
	padding: 5px;
	margin: 5px 5px 25px 5px;
}

/* these two styles are used for positioning within devWelcome */
.welcomeLeft {
	padding: 2px;
	width: 100%;
}

.welcomeRight {
	text-align: right;
	vertical-align: top;
	padding: 2px;
	width: 100px;
}

/* styles the info text below the map image */
.mapInfo {
	font-size: 9pt;
	display: inline-block;
	margin-top: 1px;
	margin-right: 13px;
}

/* primary layout mechanism - two columns */
.colLeft {
	text-align: left;
	vertical-align: top;
	padding: 2px;
	width: 220px;
}

.colRight {
	text-align: left;
	vertical-align: top;
	padding: 2px;
}

.colSoon {
	text-align: left;
	vertical-align: top;
	padding: 20px;
	width: 50%;
}

.sectionHeading {
    font-size: 18pt;
	color: blue;
    font-weight: bold;
	background-color: #CCFFCC;
	/*background-color: #FFCCFF;*/
	text-align: center;
	min-width: 790px;
	margin-top: -25px;
	margin-bottom: 2px;
}

/* style used on all links */
.swccLink {
	text-decoration: underline;
}

/* styles the section headers within the menu */
h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

#games {
	height: 700px;
	width: 800px;
}

#clubcam {
	height: 526px;
	width: 700px;
}

.bold {
	font-weight: bold;
}

.blue {
	color: blue;
}

.green {
	color: #006600;
}

.lightGreen {
	color: #00B050;
}

.red {
	color: red;
}

.purple {
	color: #6633CC;
}

.underline {
	text-decoration: underline;
}

.author {
	font-size: 8pt;
}

/*td {
	border-style: solid;
	border-color: red;
	border-width: 1px;
}
*/
