 /* ==============================================
 Dark Mode CSS
 ============================================== */
 @media (prefers-color-scheme: dark) {
    /* Dark mode styles here */
    a {
        color: white;
        text-decoration: underline;
     }

    .menuLine {
        color: white;
    }

    #tblCovid h3 {
        color: white;
    }

    /* style used on all links */
    .wccLink {
        color: white;
    }

    .wccLink a:visited {
        color: white;
    }

    .wccGameLink {
        color: white;
    }

    .wccMenuLink {
        color: white;
    }

    .wccExternalLink {
        color: white;
    }

    .bottomValue {
        color: white;
    }

    .siteTitle {
        color: white;
    }
    .caption {
        color: white;
    }

    /* dark mode colors for schedule and past tournaments */
	table.wccPast td.wccColor1, table.wccSchedule td.wccColor1 { color: #FFFF00;} /* yellow */
	table.wccPast td.wccColor2, table.wccSchedule td.wccColor2 { color: #FF00FF;} /* magenta */
	table.wccPast td.wccColor3, table.wccSchedule td.wccColor3 { color: #00FF00;} /* green */
	table.wccPast td.wccColor4, table.wccSchedule td.wccColor4 { color: #FF0000;} /* red */
	table.wccPast td.wccColor5, table.wccSchedule td.wccColor5 { color: #00FFFF;} /* cyan */
	table.wccPast td.wccColor6, table.wccSchedule td.wccColor6 { color: #FF4500;} /* burnt orange */

   	a.wccColor1 { color: #FFFF00;} /* yellow */
   	a.wccColor2 { color: #FF00FF;} /* magenta */
   	a.wccColor3 { color: #00FF00;} /* green */
   	a.wccColor4 { color: #FF0000;} /* red */
   	a.wccColor5 { color: #00FFFF;} /* cyan */
   	a.wccColor6 { color: #FF4500;} /* burnt orange */

 }

 /* ==============================================
 Light Mode CSS
 ============================================== */
 @media (prefers-color-scheme: light) {
    /* Dark mode styles here */
    a {
        color: black;
        text-decoration: underline;
     }

    .menuLine {
        color: black;
    }

    #tblCovid h3 {
        color: black;
    }

    /* style used on all links */
    .wccLink {
        color: black;
    }

    .wccLink a:visited {
        color: black;
    }

    .wccGameLink {
        color: black;
    }

    .wccMenuLink {
        color: black;
    }

    .wccExternalLink {
        color: black;
    }

    .bottomValue {
        color: black;
    }

    .siteTitle {
        color: black;
    }
    .caption {
        color: black;
    }

    /* light mode colors for schedule and past tournaments */
   	table.wccPast td.wccColor1, table.wccSchedule td.wccColor1 { color: black;} /* black */
	table.wccPast td.wccColor2, table.wccSchedule td.wccColor2 { color: darkgreen;} /* dark green */
	table.wccPast td.wccColor3, table.wccSchedule td.wccColor3 { color: darkblue;} /* dark blue */
	table.wccPast td.wccColor4, table.wccSchedule td.wccColor4 { color: darkred;} /* dark red */
	table.wccPast td.wccColor5, table.wccSchedule td.wccColor5 { color: #003333;} /* Peruvian turquoise */
	table.wccPast td.wccColor6, table.wccSchedule td.wccColor6 { color: #330033;} /* Deep purple */

	a.wccColor1 { color: #000000;} /* black */
	a.wccColor2 { color: darkgreen;} /* dark green */
	a.wccColor3 { color: darkblue;} /* dark blue */
	a.wccColor4 { color: darkred;} /* dark red */
	a.wccColor5 { color: #003333;} /* Peruvian turquoise */
	a.wccColor6 { color: #330033;} /* Deep purple */

/*# Excellent:*/
/*# Raw umber (#333300) text on a white background.*/
 }
/* text colors */
.wccGrey {
    color: #777777;
}

.wccKhaki {
    color: #c0a154;
}

.wccRed {
    color: #cc3300;
}

.wccLightBlack {
    color: #333333;
}

.wccTan {
    color: #ccbb99;
}

.wccFirebrick {
    color: #993322;
}

.wccBlack {
    color: #000000;
}

.wccWhite {
    color: #ffffff;
}

/* background colors */
.wccGreyBG {
    background-color: #777777;
}

.wccKhakiBG {
    background-color: #c0a154;
}

.wccRedBG {
    background-color: #cc3300;
}

.wccLightBlackBG {
    background-color: #333333;
}

.wccTanBG {
    background-color: #ccbb99;
}

.wccFirebrickBG {
    background-color: #993322;
}

.wccBlackBG {
    background-color: #000000;
}

.wccWhiteBG {
    background-color: #ffffff;
}
