/* Waukesha Chess Club Style Definitions */
a {
    color: black;
    text-decoration: underline;
 }

.menuLine {
    color: black;
}

#tblCovid h3 {
    color: black;
}

/* style used on all links */
.wccLink {
    color: black;
    text-decoration: none;
}

.wccLink a:visited {
    color: black;
}

.wccGameLink {
    color: black;
}

.wccMenuLink {
    color: black;
    text-decoration: none;
}

.wccExternalLink {
    color: black;
}

.bottomValue {
    color: black;
}

.siteTitle {
    color: black;
}
.caption {
    color: black;
}

 /* light mode colors for schedule and past tournaments */
table.wccPast td.wccColor1, table.wccSchedule td.wccColor1 { color: darkred;}
table.wccPast td.wccColor2, table.wccSchedule td.wccColor2 { color: darkorange;}
table.wccPast td.wccColor3, table.wccSchedule td.wccColor3 { color: green;}
table.wccPast td.wccColor4, table.wccSchedule td.wccColor4 { color: darkblue;}
table.wccPast td.wccColor5, table.wccSchedule td.wccColor5 { color: darkviolet;}
table.wccPast td.wccColor6, table.wccSchedule td.wccColor6 { color: black;}

a.wccColor1 { color: darkred;}
a.wccColor2 { color: darkorange;}
a.wccColor3 { color: green;}
a.wccColor4 { color: darkblue;}
a.wccColor5 { color: darkviolet;}
a.wccColor6 { color: black;}

/*# Excellent:*/
/*# Raw umber (#333300) text on a white background.*/

 /* text colors */
.wccGrey {
    color: #777777;
}

.wccKhaki {
    color: #c0a154;
}

.wccRed {
    color: #cc3300;
}

.wccLightBlack {
    color: #333333;
}

.wccTan {
    color: #ccbb99;
}

.wccFirebrick {
    color: #993322;
}

.wccBlack {
    color: #000000;
}

.wccWhite {
    color: #ffffff;
}

/* background colors */
.wccGreyBG {
    background-color: #777777;
}

.wccKhakiBG {
    background-color: #c0a154;
}

.wccRedBG {
    background-color: #cc3300;
}

.wccLightBlackBG {
    background-color: #333333;
}

.wccTanBG {
    background-color: #ccbb99;
}

.wccFirebrickBG {
    background-color: #993322;
}

.wccBlackBG {
    background-color: #000000;
}

.wccWhiteBG {
    background-color: #ffffff;
}

.wccPairings {
    border: 0;
    border-collapse: collapse;
    margin-top: 5px;
    width: 600px;
"
}

table.wccPairings tr {
    /*  height: 21px;*/
}

table.wccPairings td {
    color: black;
    border: 1px solid black;
    font-family: Calibri, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    padding: 1px 1px 1px 4px;
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
}

table.wccPairings td.center {
    text-align: center;
}

table.wccPairings th {
    background-color: #ccbb99;
    border: 1px solid black;
}

.wccPostHeader {
    color: #cc3300;
    font-size: 14pt;
    margin-bottom: 5px;
    margin-top: -13px;
}

.wccSection {
    color: black;
    font-weight: bold;
    margin-left: 3px;
}

.wccCrosstable {
    border: 0;
    border-collapse: collapse;
    margin-top: 5px;
    width: 700px;
"
}

table.wccCrosstable tr {
    height: 25px;
}

table.wccCrosstable td {
    color: black;
    border: 1px solid black;
    font-family: Calibri, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    padding: 2px 2px 2px 4px;
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
}

table.wccCrosstable th {
    background-color: #ccbb99;
    border: 1px solid black;
}
/* end of WCC styles */
